:root {
  --page-nav-width: 300px;
  --page-content-size: 115%;
  --background-color-1: #D6DBD2;
  --background-color-2: #FAFAFA;
  --background-color-3: #2C363F;
  --background-color-4: #191E22;
  --text-color-r: #191E22;
  --text-color-l: #F2F5EA;
  --text-color-h: #E75A7C;
  --text-color-a: #BBC7A4;
}

body {
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;

  .wy-nav-content {
    table {
      margin-bottom: 48px;
    }

    table td,
    table th {
      padding: 16px;
    }

    table th {
      background-color: var(--background-color-1);
      text-align: left;
      text-wrap: nowrap;
    }

    a.headerlink {
      margin: 0px 8px;
      visibility: hidden;
    }

    img.align-left {
      float: left;
      margin-right: 24px;
    }

    img.align-right {
      float: right;
      margin-left: 24px;
    }
  }
}

@media only screen {

  a:link,
  a:visited {
    color: var(--text-color-h);
  }

  .clickable {
    cursor: pointer;
  }

  .wy-nav-side {
    width: var(--page-nav-width);
    background-color: var(--background-color-3);
    color: var(--text-color-l);
    font-size: var(--page-content-size);
    transition: transform 0.3s ease;

    .wy-top-toolbar {
      background-color: var(--background-color-4);
    }

    .wy-menu {
      padding: 24px 0px;
    }

    ul {
      list-style-type: none;
    }

    li {
      display: flex;
      align-items: flex-end;
      gap: 8px;
      padding: 12px 24px;
    }

    li.current {
      border-width: 0px 6px 0px 0px;
      border-style: solid;
      border-color: var(--text-color-h);
      background-color: transparent;
    }

    a:link,
    a:visited {
      padding: 0px;
      color: var(--text-color-l);
    }

    a:hover {
      background-color: transparent;
      color: var(--text-color-h);
    }

    h2 {
      font-size: 18px;
      margin: 0px;
      color: var(--text-color-a);
    }
  }

  .wy-nav-content-wrap {
    margin-left: var(--page-nav-width);
    background-color: var(--background-color-2);
    transition: margin-left 0.3s ease;

    .wy-top-toolbar {
      background-color: var(--background-color-1);
    }

    .wy-top-placeholder {
      height: 98px;
      display: none;
    }

    .wy-nav-content {
      background-color: var(--background-color-2) !important;
      padding: 0px;
      max-width: unset;

      p {
        font-size: var(--page-content-size);
      }
    }

    .wy-nav-footer {
      color: var(--background-color-3);
    }

    h1:hover,
    h2:hover,
    h3:hover {
      a.headerlink {
        visibility: visible;
      }
    }

    h1 {
      margin: 24px 0px;
      font-size: 48px;
      font-weight: 400;
    }

    h2 {
      font-size: 36px;
      border-bottom: 4px solid;
      border-color: var(--text-color-a);
    }

    h3 {
      font-size: 30px;
    }
  }

  .wy-top-toolbar {
    height: 96px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 24px;
    font-size: 150%;
    font-weight: 700;
    font-family: Roboto Slab, ff-tisa-web-pro, Georgia, Arial, sans-serif;
  }

  .content-wrap {
    padding: 24px;
    max-width: 980px;
  }

  body.sidebar-toggled {
    .wy-nav-side {
      transform: translateX(-100%);
    }

    .wy-nav-content-wrap {
      margin-left: 0px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .wy-nav-content-wrap {
    margin-left: 0px;

    .wy-top-toolbar {
      position: fixed;
      z-index: 900;
      width: 100%;
    }

    .wy-top-placeholder {
      display: block;
    }
  }

  .wy-nav-side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    transform: translateX(-100%);
  }

  body.sidebar-toggled {
    .wy-nav-side {
      transform: translateX(0);
      box-shadow: 8px 0px 8px #60606060;
    }

    .wy-nav-content-wrap {
      margin-left: 0px;
    }
  }
}

@media only print {

  .wy-top-toolbar,
  .wy-nav-footer,
  .wy-nav-side {
    display: none;
  }
}